"*":
  core:
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/bam/Code"
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    backUpBeforeSaving: true
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "7fa8d7b6-9752-ac94-c939-3bf8cbec37e7"
  "git-diff":
    showIconsInEditorGutter: true
  welcome:
    showOnStartup: false
