"*":
  "atom-material-ui":
    colors:
      abaseColor: "#ffd54f"
      accentColor: "#a28832"
      genAccent: true
      paintCursor: true
      predefinedColor: "Amber"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "279dd049-5598-4e8d-a32b-4d4e938fe394"
  "highlight-selected": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
